#easel {
    border: 1px solid darkgray;
    border-collapse: collapse;
}
#easelBorder {
    padding: 10px;
    border: 1px solid dimgrey;
    display: inline-block;
    border-radius: 10px;
    background-color: darkgray;
}
.cell {
    width: 10px;
    height: 10px;
    border: 1px solid darkgray;
    background-color: white;
}
#palette {
    padding-left: auto;
    padding-right: auto;
}
.paletteColor {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 2px;
    border: 1px solid dimgrey;
    box-sizing: border-box;
}
.inline-block {
    display: inline-block;
}
